# Test results

## Linux + AMD 5700G



## MacOS + M5



## Linux + M5 (lima virtual machine)


